name: "Build"

on:
  - "push"
  - "workflow_dispatch"

concurrency:
  group: "build-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    name: "Build baseruby"
    needs: "set-matrix"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix: "${{ fromJson(needs.set-matrix.outputs.matrix) }}"
    steps:
      - uses: "actions/checkout@v3"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          context: ./docker/builds/baseruby
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/oxidize-rb/baseruby:latest
          build-args: |
            RUBY_VERSION=3.1.2
            RUBY_MINOR=3.1
            RUBY_SHA256=61843112389f02b735428b53bb64cf988ad9fb81858b8248e22e57336f24a83e

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: "Build"
        id: "build"
        run: |
          cache="type=gha,scope=${{ matrix.cache-scope }},url=$ACTIONS_CACHE_URL,token=$ACTIONS_RUNTIME_TOKEN"
          rake "${{ matrix.rake-task }}" DOCKER_BUILD="docker buildx build --cache-to $cache --cache-from $cache,mode=max --push"
