on:
  - push

jobs:
  xrubies-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - name: "3.1.2"
            download-url: "https://cache.ruby-lang.org/pub/ruby/3.1/ruby-3.1.2.tar.gz"
            sha256: "61843112389f02b735428b53bb64cf988ad9fb81858b8248e22e57336f24a83e"
        arch:
          - id: "arm-linux-gnueabihf"
            slug: "arm-linux"

          - id: "aarch64-linux-gnu"
            slug: "aarch64-linux"

    steps:
      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"

      - name: Download Ruby
        run: |
          set -ex
          sudo apt-get update && sudo apt-get install -y gcc-${{ matrix.arch.id }} binutils-${{ matrix.arch.id }}
          wget -O ruby.tar.gz ${{ matrix.ruby.download-url }}
          echo "${{ matrix.ruby.sha256 }} *ruby.tar.gz" | sha256sum --check --strict
          mkdir -p /opt/rubies/ruby-${{ matrix.ruby.name }}-${{ matrix.arch.slug }} ./ruby 
          tar -xf ruby.tar.gz -C ./ruby --strip-components=1
          rm ruby.tar.gz

      - name: Cross Compile Ruby
        run: |
          install_dir="/opt/rubies/ruby-${{ matrix.ruby.name }}-${{ matrix.arch.slug }}"
          cd ./ruby
          ./autogen.sh
          ./configure \
            --prefix="$install_dir" \
            --target="${{ matrix.arch.id }}" \
            --host="${{ matrix.arch.id }}" \
            --build="$(ruby -rrbconfig -e 'print RbConfig::CONFIG["arch"]')" \
            --enable-shared \
            --disable-jit-support \
            --disable-install-doc \
            --enable-install-static-library \
            --with-ext=
          make install
          cd /upload
          tar -czvf ruby-${{ matrix.ruby.name }}-${{ matrix.arch.slug }}.tar "$install_dir"

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          path: /upload
