name: "xrubies-linux"

on:
  - "push"
  - "workflow_dispatch"

jobs:
  build:
    name: "Build (${{ matrix.arch.slug }}, ${{ matrix.ruby.minor }})"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - version: "3.1.2"
            minor: "3.1"
            sha256: "61843112389f02b735428b53bb64cf988ad9fb81858b8248e22e57336f24a83e"

          - version: "3.0.4"
            minor: "3.0"
            sha256: "70b47c207af04bce9acea262308fb42893d3e244f39a4abc586920a1c723722b"

          - version: "2.7.6"
            minor: "2.7"
            sha256: "e7203b0cc09442ed2c08936d483f8ac140ec1c72e37bb5c401646b7866cb5d10"

          - version: "3.2.0-preview2"
            minor: "3.2"
            sha256: "8a78fd7a221b86032f96f25c1d852954c94d193b9d21388a9b434e160b7ed891"

        arch:
          - id: "arm-linux-gnueabihf"
            slug: "arm-linux"
            build_deps: "gcc-arm-linux-gnueabihf binutils-arm-linux-gnueabihf"

          - id: "aarch64-linux-gnu"
            slug: "aarch64-linux"
            build_deps: "gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu"

          - id: "x86_64-linux-gnu"
            slug: "x86_64-linux"
            build_deps: "gcc binutils"

    steps:
      - uses: "actions/checkout@v3"

      - name: "Set vars"
        id: "vars"
        run: |
          slug="ruby-${{ matrix.ruby.version }}-${{ matrix.arch.slug }}"
          build_dir="/tmp/build/$slug"
          install_dir="/opt/xrubies/$slug"
          upload_dir="/tmp/upload"

          mkdir -p "$build_dir" "$install_dir" "$upload_dir"

          echo "::set-output name=build_dir::$build_dir"
          echo "::set-output name=install_dir::$install_dir"
          echo "::set-output name=upload_dir::$upload_dir"
          echo "::set-output name=slug::$slug"
          echo "::set-output name=tarball_path::$upload_dir/$slug.tar.gz"
          echo "::set-output name=sha256_path::$upload_dir/$slug.sha256"

      - uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.1"

      - name: "Download Ruby"
        run: |
          wget -O ruby.tar.gz "https://cache.ruby-lang.org/pub/ruby/${{ matrix.ruby.minor }}/ruby-${{ matrix.ruby.version }}.tar.gz"
          echo "${{ matrix.ruby.sha256 }} *ruby.tar.gz" | sha256sum --check --strict
          tar -xf ruby.tar.gz -C ${{ steps.vars.outputs.build_dir }} --strip-components=1
          rm ruby.tar.gz

      - name: "Install deps"
        run: |
          sudo apt-get update && sudo apt-get install -y ${{ matrix.arch.build_deps }}

      - name: "Build Ruby"
        run: |
          cd ${{ steps.vars.outputs.build_dir }}
          autoreconf
          ./configure \
            --prefix="${{ steps.vars.outputs.install_dir }}" \
            --target="${{ matrix.arch.id }}" \
            --host="${{ matrix.arch.id }}" \
            --build="$(ruby -rrbconfig -e 'print RbConfig::CONFIG["arch"]')" \
            --enable-shared \
            --disable-jit-support \
            --disable-install-doc \
            --enable-install-static-library \
            --with-ext=
          make -j$(nproc) install

      - name: "Make tarball"
        run: |
          tar -czvf ${{ steps.vars.outputs.tarball_path }} "${{ steps.vars.outputs.install_dir }}"
          sha256sum ${{ steps.vars.outputs.tarball_path }} > ${{ steps.vars.outputs.sha256_path }}

      - name: "Upload build"
        uses: "actions/upload-artifact@v3"
        with:
          name: "${{ steps.vars.outputs.slug }}"
          path: "${{ steps.vars.outputs.upload_dir }}"
