name: "xrubies-linux"

on:
  - "push"
  - "workflow_dispatch"

jobs:
  build:
    name: "Build (${{ matrix.arch.slug }}, ${{ matrix.ruby.minor }})"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - version: "3.1.2"
            minor: "3.1"
            sha256: "61843112389f02b735428b53bb64cf988ad9fb81858b8248e22e57336f24a83e"
            expected_version: "3.1.2"

          - version: "3.0.4"
            minor: "3.0"
            sha256: "70b47c207af04bce9acea262308fb42893d3e244f39a4abc586920a1c723722b"
            expected_version: "3.0.4"

          - version: "2.7.6"
            minor: "2.7"
            sha256: "e7203b0cc09442ed2c08936d483f8ac140ec1c72e37bb5c401646b7866cb5d10"
            expected_version: "2.7.6"

          - version: "3.2.0-preview2"
            minor: "3.2"
            sha256: "8a78fd7a221b86032f96f25c1d852954c94d193b9d21388a9b434e160b7ed891"
            expected_version: "3.2.0"

        arch:
          - id: "arm-linux-gnueabihf"
            slug: "arm-linux"
            build_deps: "gcc-arm-linux-gnueabihf binutils-arm-linux-gnueabihf"
            dpkg_arch: "armhf"
            docker_platform: "linux/arm/v7"

          - id: "aarch64-linux-gnu"
            slug: "aarch64-linux"
            build_deps: "g++-aarch64-linux-gnu gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu"
            docker_platform: "linux/arm64/v8"

          - id: "x86_64-linux-gnu"
            slug: "x86_64-linux"
            build_deps: "gcc binutils"
            dpkg_arch: "x86_64"
            docker_platform: "linux/amd64"

    steps:
      - uses: "actions/checkout@v3"

      - name: "Set vars"
        id: "vars"
        run: |
          slug="${{ matrix.ruby.version }}-${{ matrix.arch.slug }}"
          build_dir="/tmp/build/$slug"
          install_dir="/opt/xrubies/$slug"
          upload_dir="/tmp/upload"
          deb_host_arch="$(dpkg-architecture --target-type ${{ matrix.arch.id}} -qDEB_HOST_ARCH)"
          deb_target_arch="$(dpkg-architecture --target-type ${{ matrix.arch.id}} -qDEB_TARGET_ARCH)"

          mkdir -p "$build_dir" "$install_dir" "$upload_dir"

          echo "build_dir=$build_dir" >> $GITHUB_OUTPUT
          echo "install_dir=$install_dir" >> $GITHUB_OUTPUT
          echo "upload_dir=$upload_dir" >> $GITHUB_OUTPUT
          echo "slug=$slug" >> $GITHUB_OUTPUT
          echo "tarball_path=$upload_dir/$slug.tar.gz" >> $GITHUB_OUTPUT
          echo "sha256_path=$upload_dir/$slug.sha256" >> $GITHUB_OUTPUT
          echo "deb_target_arch=$deb_target_arch" >> $GITHUB_OUTPUT
          echo "deb_host_arch=$deb_host_arch" >> $GITHUB_OUTPUT

      - name: "Install deps"
        run: |
          set -ex

          target_dpkg_arch="${{ steps.vars.outputs.deb_target_arch }}"
          base_dpkg_arch="${{ steps.vars.outputs.deb_host_arch }}"

          if [ "$target_dpkg_arch" != "$base_dpkg_arch" ]; then
            # Add arch support for target so we can install libs
            sudo dpkg --add-architecture "$target_dpkg_arch"

            # Qualify our current source lists to make sure debian doesn't infer stuff
            sudo sed -i "s/^deb http/deb [arch=$base_dpkg_arch] http/" /etc/apt/sources.list

            # Add sources for ported target libs
            sudo sh -c "echo \"deb [arch=$target_dpkg_arch] http://ports.ubuntu.com/ubuntu-ports $(lsb_release -cs) main universe restricted multiverse\" >> /etc/apt/sources.list"
            sudo sh -c "echo \"deb [arch=$target_dpkg_arch] http://ports.ubuntu.com/ubuntu-ports $(lsb_release -cs)-updates main universe restricted multiverse\" >> /etc/apt/sources.list"
            sudo sh -c "echo \"deb [arch=$target_dpkg_arch] http://ports.ubuntu.com/ubuntu-ports $(lsb_release -cs)-security main universe restricted multiverse\" >> /etc/apt/sources.list"

            sudo apt-get update

            sudo apt-get install -qq \
              zlib1g-dev:$target_dpkg_arch \
              libssl-dev:$target_dpkg_arch \
              libyaml-dev:$target_dpkg_arch \
              libgdbm-dev:$target_dpkg_arch \
              libreadline-dev:$target_dpkg_arch \
              libncurses5-dev:$target_dpkg_arch
          else
            sudo apt-get install -qq \
              zlib1g-dev \
              libssl-dev \
              libyaml-dev \
              libgdbm-dev \
              libreadline-dev \
              libncurses5-dev
          fi

          sudo apt-get install -qq ${{ matrix.arch.build_deps }}

      - uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.1"

      - name: "Download Ruby"
        run: |
          wget --quiet -O ruby.tar.gz "https://cache.ruby-lang.org/pub/ruby/${{ matrix.ruby.minor }}/ruby-${{ matrix.ruby.version }}.tar.gz"
          echo "${{ matrix.ruby.sha256 }} *ruby.tar.gz" | sha256sum --check --strict
          tar -xf ruby.tar.gz -C ${{ steps.vars.outputs.build_dir }} --strip-components=1
          rm ruby.tar.gz

      - name: "Build Ruby"
        env:
          CPPFLAGS: "-DENABLE_PATH_CHECK=0" # https://github.com/actions/virtual-environments/issues/267
          CFLAGS: "-pipe"
          CC: "${{ matrix.arch.id }}-gcc"
          LD: "${{ matrix.arch.id }}-ld"
          AR: "${{ matrix.arch.id }}-ar"
        run: |
          cd ${{ steps.vars.outputs.build_dir }}
          autoreconf
          ./configure \
            --prefix="${{ steps.vars.outputs.install_dir }}" \
            --target="${{ matrix.arch.id }}" \
            --host="${{ matrix.arch.id }}" \
            --build="$(ruby -rrbconfig -e 'print RbConfig::CONFIG["arch"]')" \
            --disable-jit-support \
            --disable-install-doc \
            --enable-shared \
            --enable-install-static-library \
            --enable-multiarch \
            --with-opt-dir=/usr/lib/${{ matrix.arch.id }}

          make -j$(nproc) install

      - name: "Make tarball"
        run: |
          tar -czvf ${{ steps.vars.outputs.tarball_path }} "${{ steps.vars.outputs.install_dir }}"
          sha256sum ${{ steps.vars.outputs.tarball_path }} > ${{ steps.vars.outputs.sha256_path }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Run tests
        run: |
          mkdir -p ./tmp && cp ${{ steps.vars.outputs.tarball_path }} ./tmp
          docker buildx create --use 
          docker buildx build \
            --platform=${{ matrix.arch.docker_platform }} \
            --build-arg RUBY_VERSION=${{ matrix.ruby.version }} \
            --build-arg RUBY_PLATFORM=${{ matrix.arch.slug }} \
            --build-arg EXPECTED_RUBY_ARCH=${{ matrix.arch.id }} \
            --build-arg EXPECTED_RUBY_VERSION=${{ matrix.ruby.expected_version }} \
            -f test/Dockerfile .

      - name: "Upload build"
        uses: "actions/upload-artifact@v3"
        with:
          name: "${{ steps.vars.outputs.slug }}"
          path: "${{ steps.vars.outputs.upload_dir }}"

  create_release:
    name: "Create release"
    needs: build
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/download-artifact@v3
        id: download
        with:
          path: /tmp/upload

      - name: "Echo download path"
        run: |
          echo ${{steps.download.outputs.download-path}}
          ls ${{steps.download.outputs.download-path}}

      - name: Create release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            /tmp/upload/**/*
