on:
  - push

jobs:
  xrubies-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - name: "3.1"
            download-url: "https://cache.ruby-lang.org/pub/ruby/3.1/ruby-3.1.2.tar.gz"
            sha256: "61843112389f02b735428b53bb64cf988ad9fb81858b8248e22e57336f24a83e"
        arch: ["arm-linux"]
    steps:
      - uses: actions/checkout@v3

      - name: Cross compile
        run: |
          wget -O ruby.tar.xz ${{ matrix.download-url }}
          echo "${{ matrix.ruby.sha256 }} *ruby.tar.xz" | sha256sum --check --strict
          install_dir="/opt/rubies/ruby-${{ matrix.ruby.name }}-${{ matrix.arch }}"
          mkdir -p /opt/rubies/ruby-${{ matrix.ruby.name }}-${{ matrix.arch }}
          tar -xJf ruby.tar.xz -C /usr/src/ruby --strip-components=1
          rm ruby.tar.xz
          cd /usr/src/ruby
          ./autogen.sh
          ./configure \
            --target=${{ matrix.arch }}
            --build="$(ruby -rrbconfig -e 'print RbConfig::CONFIG["arch"]')"
            --enable-shared
            --disable-install-doc
            --enable-install-static-library
            --with-ext=
